extends layout

block content
  h1 Remotes

  if (typeof(remotes) !== 'undefined') && (remotes.length > 0)
    each remote in remotes
      h2
        a(href='/remote/' + remote) Remote #{remote}
  else
    p No remotes to display.
